.autocomplete-input {
  background: white;
}

.autocomplete-container-web {
  position: absolute;
  top: 5px;
  left: 20%;
  right: 20%;
}

.autocomplete-container-mobile {
  position: absolute;
  top: 0;
  width: 100%;
}

.MuiChip-label {
  font-size: large !important;
}
